<div class="row">
  <div class="col-lg-offset-2 col-lg-5 form-group">
    <label class="control-label", for="name-volunteer">Nome: <span class="mandatory">*</span></label>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-5 form-group">
    <%= f.text_field :name, :id => "name-volunteer", :class => "form-control validate-name" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-8 form-group">
    <%= f.label "Sobre você:", :for => "observations-ngo", :class => "control-label" %>
    <%= f.text_area :observations, :class => "form-control validate-observations" , :id => "description-ngo"%>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-5 form-group">
    <label class="control-label", for="phone-volunteer">Telefone(s): <span class="mandatory">*</span></label>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-10">
    <div class = "row">
      <div class="col-lg-2 form-group">
        <%= f.telephone_field :phone1, :class => "form-control phone_with_ddd validate-phone", :placeholder => "(99)9999-9999", :id =>"phone1-vol" %>
      </div>
      <div class="col-lg-2 form-group">
        <%= f.telephone_field :phone2, :class => "form-control phone_with_ddd", :placeholder => "(99)9999-9999", :id =>"phone2-vol" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-5 form-group">
    <label class="control-label", for="sex-volunteer">Gênero: </label>
    <div class="row">
      <div class="col-lg-3 form-group">
        <%= f.select :sex , ['Masculino' , 'Feminino', 'Outro'] %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-5 form-group">
    <label class="control-label", for="sex-volunteer">Data de Nascimento: <span class="mandatory">*</span></label>
    <div class="row">
      <div class="col-lg-7 div-date birthday-teste">
        <%= f.date_select :birth_date, prompt: { day: 'Dia', month: 'Mês', year: 'Ano' }, start_year: Time.now.year - 60 , end_year: Time.now.year - 10 %>
      </div>
    </div>
  </div>
</div>
