<div class="row">
  <div class="col-lg-offset-2 col-lg-5 form-group">
    <label class="control-label", for="name-volunteer">Nome: <span class="mandatory">*</span></label>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-5 form-group">
    <%= f.text_field :name, :id => "name-volunteer", :class => "form-control validate-name" %>
  </div>
  <div class="col-lg-5">
    <div id="nameError" class="col-lg-5 alert alert-danger custom-alert-danger empty-error-name-volunteer">
      <p>Campo Obrigatório!</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-8 form-group">
    <%= f.label "Observações:", :for => "observations-ngo", :class => "control-label" %>
    <%= f.text_area :observations, :class => "form-control validate-observations" , :id => "description-ngo"%>
  </div>
  <div class="col-lg-offset-1 col-lg-7">
    <div id="observations-error" class="col-lg-3 alert alert-danger custom-alert-danger empty-error-observations-ngo">
          <p>Campo Obrigatório!</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-5 form-group">
    <label class="control-label", for="phone-volunteer">Telefone(s): <span class="mandatory">*</span></label>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-10">
    <div class="col-lg-2 form-group">
      <%= f.telephone_field :phone1, :class => "form-control phone_with_ddd validate-phone", :placeholder => "(99)9999-9999", :id =>"phone1-vol" %>
    </div>
    <div class="col-lg-2 form-group">
      <%= f.telephone_field :phone2, :class => "form-control phone_with_ddd", :placeholder => "(99)9999-9999", :id =>"phone2-vol" %>
    </div>
  </div>
</div>
<div class="col-lg-offset-2 col-lg-7">
  <div id="phone-error" class="col-lg-3 alert alert-danger custom-alert-danger phone-error-invalid">
    <p>Telefone Inválido!</p>
  </div>
</div>