<div>
  <h1>Perfil do voluntário</h1>
  <label><%= current_user.volunteer.name %></label>
  <label><%= current_user.email%></label>
  <label><%= current_user.volunteer.observations%></label>
  <label><%= current_user.volunteer.phone%></label>
  <label><%= current_user.volunteer.phone1%></label>
  <label><%= current_user.volunteer.phone2%></label>   
</div>