<div class="modal fade" id="recover-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id ="close-password"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Recuperar Senha</h4>
      </div>
      <div class="modal-body">
      	<div class="form-horizontal">
		  <% if error != nil %>
		    <div class= "alert alert-danger col-lg-offset-3 col-lg-5">
		      <p id="error"><%= error %></p>
		    </div>
		  <%end%>
		  <%= form_tag password_resets_path, :id=>"form-password-reset-email", :method => :post do %>
		    <div class="form-group">
		      <div class="col-lg-5">
            <%= label_tag "Email:" %>
            <%= text_field_tag :email, params[:email], :id => "email-reset-pass", :placeholder => "E-mail", :class => "validate-recover-email" %>
		      </div>
		      <div id="emailErrorInvalid" class="col-lg-2 alert alert-danger custom-alert-danger email-recover-error-invalid">
		        <p>Email Inválido!</p>
		      </div>
		    </div>
		</div>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" id="back-button">Voltar</button>
		<%= submit_tag "Recuperar Senha", :class => "btn btn-danger", :id => 'email-reset-button' %>
		<% end %>
      </div>
    </div>
  </div>
</div>
