<section id="section-login" class="min-margin-top">

<div class="form-horizontal">
	<% if notice != nil %>
		<div class= "alert alert-success col-lg-12 centralize text-center">
			<p id="notice"><%= notice %></p>
		</div>
	<%end%>

	<% if error != nil %>
		<div class= "alert alert-danger col-lg-offset-4 col-lg-4 centralize text-center">
			<p id="error"><%= error %></p>
		</div>
	<%end%>

	<div class="col-lg-12 text-center login-title">
		<h1>Bem-vindo ao Ongarium</h1>
		<h4>Entre com o seu usuário para continuar</h4>
	</div>

	<div class= "alert alert-danger col-lg-offset-4 col-lg-4 centralize errorMessageJS">
		<p id="errorMessage">Erro encontrado, verifique os campos em vermelho.</p>
	</div>
	
	<%= form_for(:session, url: login_path, :html=>{:id=>"form-login"}) do |f| %>
	    <div class="form-group">
			<div class="col-lg-offset-4 col-lg-4">
				<%= f.text_field :email, :id => "email-session", :placeholder => "E-mail", :class => "form-control validate-email" %>
			</div>
	    </div>
	    <div class="form-group">
			<div class="col-lg-offset-4 col-lg-4">
				<%= f.password_field :password, id: "password-session", :placeholder => "Senha", :class => "form-control validate-password" %>
			</div>
	    </div>
	  	<div class="form-group">
			<div class="col-lg-offset-4 col-lg-4">
				<%= f.submit "Entrar", :class => "btn btn-default btn-lg btn-block btn-primary" %>
			</div>
		</div>
	    <div class="form-group">
			<div class="col-lg-offset-4 col-lg-3">
				<a href '' data-toggle="modal" data-target="#recover-password-modal"> Esqueceu sua senha? </a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-4 col-lg-3">
				<a href '' data-toggle="modal" data-target="#create-account-modal"> Ainda não possui uma conta? Cadastre-se! </a>
			</div>
		</div>
		<div class="form-group">
		<div class="col-lg-offset-4 col-lg-3">
			<a href = "" id="call-modal-token" data-toggle="modal" data-target="#token-resend">Token expirado/Não recebi Token de Ativação</a>
		</div>
	</div>
		 <div class="form-group">
			<div class="col-lg-offset-4 col-lg-3">
				<%= check_box_tag :remember_me, 1, params[:remember_me], :id => "remember-me" %>
				<%= f.label "Manter-me logado", :for => "remember-me"%>
			</div>
		</div>
	<% end %>
</div>
<%= render 'recover_password' %>
<%= render 'create_account' %>
</section>
