<div class="form-horizontal"> 
  <%= form_for @user, :html=>{:id=>"form-password-reset"}, :url => password_reset_path(params[:id])  do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-lg-12 text-center">
      <h1>Recuperar Senha</h1>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-5">
        <%= f.password_field :password, :id => "password-user", :placeholder => "Nova senha", :class => "form-control validate-password"%>
      </div>
      <div id="passwordError" class="col-lg-2 alert alert-danger custom-alert-danger empty-error-password-user">
        <p>Campo Obrigat처rio!</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-5">
        <%= f.password_field :password_confirmation, :id => "password-confirmation-user", :placeholder => "Confirmar nova senha", :class => "form-control validate-password-confirmation-user"%>
      </div>
      <div id="passwordConfirmationError" class="col-lg-2 alert alert-danger custom-alert-danger password-confirmation-invalid">
        <p>Senhas n찾o s찾o iguais!</p>
      </div>
      <div id="passwordConfirmationErrorNil" class="col-lg-2 alert alert-danger custom-alert-danger empty-error-password-confirmation-user">
        <p>Campo Obrigat처rio!</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-5">
      <%= f.submit "Atualizar Senha", :class => "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
  <% end %>
</div>
