<div class="form-horizontal"> 
  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-5">
        <%= f.password_field :password, :placeholder => "Nova senha", :class => "form-control"%>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-5">
        <%= f.password_field :password_confirmation, :placeholder => "Confirmar nova senha", :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-5">
      <%= f.submit "Atualizar Senha", :class => "btn btn-default btn-lg btn-block" %>
      </div>
    </div>
  <% end %>
</div>
