<div class= "alert alert-danger col-lg-offset-4 col-lg-4 centralize errorMessageJS">
	<p id="errorMessage">Erro encontrado, verifique os campos em vermelho.</p>
</div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-5 form-group">
		<label class="control-label", for="name-ngo">Nome da organização: <span class="mandatory">*</span></label>
		<%= f.text_field :name, :id => "name-ngo", :class => "form-control validate-name" %>
	</div>
</div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-8 form-group">
	<label class="control-label", for="description-ngo">Descrição: <span class="mandatory">*</span></label>
		<%= f.text_area :description, :class => "form-control validate-description" , :id => "description-ngo"%>
	</div>
</div>
<div class="row margin-end-top br">
	<div class="col-lg-offset-2 form-group">
		<div class="col-lg-4">
			<%= f.label "Causas da organização:", :class => "control-label margin-causes" %>
		</div>
		<div class="row">
			<div class="col-lg-10 margin-dropdown-lists">
				<%= collection_check_boxes(:ngo, :cause_ids, @causes, :id, :name) do |b| %>
					<div class="col-lg-4 margin-checkbox-lists">
  						<%= b.label(:"data-value" => b.value) { b.check_box(:class => "category-checkbox-ngo") + " " + b.text } %>
  					</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-8 form-group">
	<label class="control-label", for="description-ngo">Missão: </label>
		<%= f.text_area :mission, :class => "form-control validate-mission" , :id => "mission-ngo"%>
	</div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-4 form-group">
    <%= f.label "Telefone(s):", :class => "control-label", :for =>"phone1-ngo" %>
  	<b><span class="mandatory", for="phone1-ngo">*</span></b>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2">
    <div class="col-lg-2 form-group">
      <%= f.telephone_field :phone1, :class => "form-control phone_with_ddd validate-phone", :placeholder => "(99)9999-9999", :id =>"phone1-ngo" %>
    </div>
    <div class="col-lg-2 form-group">
      <%= f.telephone_field :phone2, :class => "form-control phone_with_ddd", :placeholder => "(99)9999-9999", :id =>"phone2-ngo" %>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-5 form-group">
		<label class="control-label", for="name-ngo">E-mail para contato: <span class="mandatory">*</span></label>
		<%= f.text_field :contact_email, :id => "email-ngo", :class => "form-control validate-contact-email" %>
	</div>
</div>

<div id="address">
  <%= render './addresses/address_form', f:f %>
</div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-10 form-group">
		<%= f.check_box :privacy, :id =>"privacy-ngo" %>
		<%= f.label "Ocultar dados da organização",:for => "privacy-ngo" %>
  </div>
</div>
