<section id="section-search" class="min-margin-top">
	<div class="container col-lg-8 col-lg-offset-2">
		<button id="btn-search-ngo" class="btn button-search-enabled" value="Organizações">Organizações</button>
		<%= render './layouts/search_bar.html' %>
	</div>
</section>

<section id="search-result">
	<div class="container">
		<div class="row">
			<div class="col-lg-3" id="filtros">
				<%= render 'layouts/filterbar' %>
			</div>
			<div class="col-lg-6" id="resultado_busca">
				<div id="texto" class="">
					<% if params[:text_search] == nil || params[:text_search] == ""%>
						<h3>Exibindo todas as organizações</h3>
					<%else%>
						<h3>Você pesquisou por <strong><%=params[:text_search] %></strong></h3>
					<%end%>
					<hr>
				</div>
			</div>
			<div class="col-lg-3">
				<div id="paginatorTop" class="pull-right paginator">
					<%= paginate @ngos_result, :theme => 'twitter-bootstrap-3' %>
				</div>
			</div>
			<div class="col-lg-9" id="listNgos">
						<%= render 'list_ngos' %>
			</div>
		</div>
		<div class="row">
			<div id="paginatorBottom" class="pull-right paginator">
				<%= paginate @ngos_result, :theme => 'twitter-bootstrap-3' %>
			</div>
		</div>
	</div>
</section>
