<div class ="container">

	<% if flash[:error] != nil %>
	<div class= "alert alert-danger col-lg-offset-4 col-lg-4 centralize">
		<p id="error"><%= error %></p>
	</div>
	<%end%>
	<div class= "alert alert-danger col-lg-offset-4 col-lg-4 centralize errorMessageJS">
		<p id="errorMessage">Erro encontrado, verifique os campos em vermelho.</p>
	</div>
	<div class="col-lg-12 text-center">
		<h1>Nova ONG</h1>
	</div>
	<%= form_for(@ngo,:html=>{:id=>"form-ngo"}) do |f| %>
	<% if @ngo.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        <%= pluralize(@ngo.errors.count, "error") %> prohibited
	        this interest from being saved:
	      </h2>
	      <ul>
	        <% @ngo.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	<% end %>
	<%= render 'form', f:f %>
	<%= render 'users/form', f:f %>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-4 form-group">
        	<span class="mandatory">*Campos Obrigatórios</span>
    	</div>
   	</div>
	<div class="row">
		<div class="col-lg-offset-4 col-lg-4 margin-end-top margin-end-bot">
			<%= f.submit "Cadastrar ONG", :class => "btn btn-default btn-lg btn-block btn-primary", id: "confirm-ngo" %>
		</div>
	</div>
<% end %>
</div>
