<div class="form-horizontal">
	<%= form_for(@ngo ,:html=>{:onsubmit=>"return validateForm();"}) do |ngo| %>
		<% if @ngo.errors.any? %>
		    <div id="error_explanation">
		      <h2>
		        <%= pluralize(@ngo.errors.count, "error") %> prohibited
		        this interest from being saved:
		      </h2>
		      <ul>
		        <% @ngo.errors.full_messages.each do |msg| %>
		          <li><%= msg %></li>
		        <% end %>
		      </ul>
		    </div>
  		<% end %>
		
		<div class="form-group">
			<label class="control-label col-lg-3">
				<h3>Dados da ONG:</h3>
			</label>
			<div class="col-lg-5">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">
				Nome da ONG:
			</label> 
			<div class="col-lg-5">
				<%= ngo.text_field :name, :class => "form-control" %>
			</div>
			<div id="nameError" class="col-lg-2 alert alert-danger custom-alert-danger">
				<p>Campo Obrigatório!</p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-3">
				Descrição:			
			</label>
			<div class="col-lg-5">
				<%= ngo.text_field :description, :class => "form-control" %>
			</div>
		</div>
	 
		<div class="form-group">
			<label class="control-label col-lg-3">
				E-mail:
			</label>
			<div class="col-lg-5">
				<%= ngo.text_field :email, :class => "form-control" %>
			</div>
			<div id="emailErrorInvalid" class="col-lg-2 alert alert-danger custom-alert-danger">
				<p>Email Inválido!</p>
			</div>
			<div id="emailErrorNil" class="col-lg-2 alert alert-danger custom-alert-danger">
				<p>Campo Obrigatório!</p>
			</div>
		</div>

		<%= ngo.fields_for :address do |f| %> <!-- Model Address-->

			<div class="form-group">
				<label class="control-label col-lg-3">
					<h3>Endereço:</h3>
				</label>
				<div class="col-lg-5">
					
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">
					Rua:
				</label>
				<div class="col-lg-5">
					<%= f.text_field :address, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">
					CEP:
				</label>
				<div class="col-lg-5">
					<%= f.text_field :cep, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">
					Complemento:
				</label>
				<div class="col-lg-5">
					<%= f.text_field :complement, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">
					Bairro:
				</label>
				<div class="col-lg-5">
					<%= f.text_field :neighbourhood, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">
					Cidade:
				</label>
				<div class="col-lg-5">
					<%= f.text_field :city, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">
					Estado:
				</label>
				<div class="col-lg-5">
					<%= f.text_field :state, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">
					País:
				</label>
				<div class="col-lg-5">
					<%= f.text_field :country, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-3 col-lg-5">
					<%= ngo.submit "Cadastrar ONG", :class => "btn btn-default btn-lg btn-block" %>
				</div>
			</div>
		<% end %>
	<% end %>
	
</div>