<div class="form-horizontal">
	<%= form_for(@ngo) do |ngo| %>
	<div class="form-group">
		<label class="control-label col-lg-2">
			Nome da ONG:
		</label> 
		<div class="col-lg-8">
			<%= ngo.text_field :name, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-2">
			Descrição:			
		</label>
		<div class="col-lg-8">
			<%= ngo.text_field :description, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-2">
			E-mail:
		</label>
		<div class="col-lg-8">
		<%= ngo.text_field :email, :class => "form-control" %>
		</div>
	</div>

	<%= ngo.fields_for :address do |f| %> <!-- Model Address-->
	<h3 class="centralize"><label class="label label-default">
		Endereço
	</label></h3>
	<div class="form-group">
		<label class="control-label col-lg-2">
			Rua:
		</label>
		<div class="col-lg-8">
			<%= f.text_field :address, :class => "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-2">
			CEP:
		</label>
		<div class="col-lg-8">
			<%= f.text_field :cep, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-2">
			Complemento:
		</label>
		<div class="col-lg-8">
			<%= f.text_field :complement, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-2">
			Bairro:
		</label>
		<div class="col-lg-8">
			<%= f.text_field :neighbourhood, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-2">
			Cidade:
		</label>
		<div class="col-lg-8">
			<%= f.text_field :city, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-2">
			Estado:
		</label>
		<div class="col-lg-8">
			<%= f.text_field :state, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-2">
			País:
		</label>
		<div class="col-lg-8">
			<%= f.text_field :country, :class => "form-control" %>
		</div>
	</div>

	<%= ngo.submit "Cadastrar ONG", :class => "btn btn-default" %>
	

	<% end %>
	<% end %>


</div>