<div class="form-horizontal">
	<%= form_for(@ngo,:html=>{:onsubmit=>"return NGO.validateForm();"}) do |f| %>
		<% if @ngo.errors.any? %>
		    <div id="error_explanation">
		      <h2>
		        <%= pluralize(@ngo.errors.count, "error") %> prohibited
		        this interest from being saved:
		      </h2>
		      <ul>
		        <% @ngo.errors.full_messages.each do |msg| %>
		          <li><%= msg %></li>
		        <% end %>
		      </ul>
		    </div>
  		<% end %>
		<div class="form-group">
			<label class="control-label col-lg-3">
				<h3>Dados da ONG:</h3>
			</label>
			<div class="col-lg-5">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3" for="name-ngo">
				Nome da ONG:
			</label> 
			<div class="col-lg-5">
				<%= f.text_field :name, :id => "name-ngo", :class => "form-control validate-name" %>
			</div>
			<div id="nameError" class="col-lg-2 alert alert-danger custom-alert-danger empty-error-name-ngo">
				<p>Campo Obrigatório!</p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-3" for="description-ngo">
				Descrição:			
			</label>
			<div class="col-lg-5">
				<%= f.text_area :description, :class => "form-control validate-description" , :id => "description-ngo"%>
			</div>
      <div id="description-error" class="col-lg-2 alert alert-danger custom-alert-danger empty-error-description-ngo">
        <p>Campo Obrigatório!</p>
      </div>
		</div>
		<%= f.fields_for :phones do |p| %>
		<div class="form-group">
			<label class="control-label col-lg-3" for="description-ngo">
				Telefones:			
			</label>
			<div class="col-lg-5">
				<%= p.telephone_field :phone_number %>
			</div>
			<%end%>

		<%= f.fields_for :address do |ff| %> <!-- Model Address-->

			<div class="form-group">
				<label class="control-label col-lg-3">
					<h3>Endereço:</h3>
				</label>
				<div class="col-lg-5">
					
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">
					Rua:
				</label>
				<div class="col-lg-5">
					<%= ff.text_field :address, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">
					CEP:
				</label>
				<div class="col-lg-5">
					<%= ff.text_field :zipcode, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">
					Complemento:
				</label>
				<div class="col-lg-5">
					<%= ff.text_field :complement, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">
					Bairro:
				</label>
				<div class="col-lg-5">

					<%= ff.text_field :neighborhood, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">
					Cidade:
				</label>
				<div class="col-lg-5">
					<%= ff.text_field :city, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">
					Estado:
				</label>
				<div class="col-lg-5">
					<%= ff.text_field :state, :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3">
					País:
				</label>
				<div class="col-lg-5">
					<%= ff.text_field :country, :class => "form-control", :disabled => true %>
				</div>
			</div>

			<%= render 'users/form', f:f %>

			<div class="form-group">
				<div class="col-lg-offset-3 col-lg-5">
					<%= f.submit "Cadastrar ONG", :class => "btn btn-default btn-lg btn-block btn-primary" %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>