<div class="container">
	<% if notice != nil %>
		<div class= "alert alert-success">
			<p id="notice"><%= notice %></p>
		</div>
		<br>
	<%end%>
	<% if error != nil %>
		<div class= "alert alert-danger col-lg-offset-4 col-lg-4 centralize">
			<p id="error"><%= error %></p>
		</div>
		<br>
	<%end%>
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-3">
				<%= cl_image_tag("xwqiraah48rkjd1mpv21.png", :width => 200, :height => 200, :class => "image-user" ) if !@ngo.user.photo? %>
				<%= image_tag (@ngo.user.photo_url) , :class => "image-user" if @ngo.user.photo? %>
			</div>
		<div class="col-lg-9 margin-left-info">
			<div class="row info-user">
				<h1 class="name-user"><%= @ngo.name%>
					<% if current_user != nil && current_user.role == "ngo" %>
						<% if require_user_owner_ngo(@ngo) %>
							<a href= "<%=@ngo.id%>/edit" class="link-style" title="Editar minhas informações">
								<button type="button" class="btn btn-default btn-primary" aria-label="Left Align">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
							</a>
						<%end%>
					<%end%>
				</h1>
			</div>
			<div class="row info-user">
				<strong>Descrição: </strong>
				<span> <%=@ngo.description %></span>
			</div>
			<div class="row info-user">
				<strong>Missão: </strong>
				<span><%= @ngo.mission %></span>
			</div>
			<div class="row info-user">
				<strong>Local: </strong>
				<% if @ngo.privacy %>
				<%= "#{@ngo.address.city} - #{@ngo.address.state}, #{@ngo.address.country}" %>
				<%else%>
				<%= @ngo.address.print_address %>
				<%end%>
			</div>
			<div class="row info-user">
				<b>Telefone(s): </b>
				<%= @ngo.phone1 %>
				<%= ", #{@ngo.phone2}" unless @ngo.phone2.blank?%>
			</div>
			<div class="row info-user">
				<strong>Email de Contato: </strong>
				<%= @ngo.contact_email %>
			</div>
			<div class="row info-user">
				<strong>Causas:</strong>
				<ul>
					<% @ngo.causes.each do |cause|%>
					<li> <%= cause.name %> </li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
	<div class="ngo-opportunities">
		<div>
			<h3 class="">Lista de Oportunidades:</h3>
		</div>
		<% @ngo.opportunities.each do |opportunity| %>
			<div class="panel">
				<div class="row panel-body bs-callout bs-callout-info">
					<div class="row">
						<div class="col-lg-12">
							<h3 class="opportunity-title"><%= opportunity.title %></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<span class=" oppt-ngo">Por <a href="ngos/<%=opportunity.ngo.id%>"><%= opportunity.ngo.name %></a></span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 description">
							<span>Descrição: </span><%= opportunity.description %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<span>Local: </span>
							<%if opportunity.address != nil%>
									<span><%= opportunity.address.city %>,
										<%= opportunity.address.state %> </span>
							<%else%>
									<span>A combinar</span>
							<%end%>
						</div>
						<div class="col-lg-9">
							<%= link_to "Ver mais", opportunity, :class=>"link-style btn btn-primary pull-right" %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
