<div class="container">
	<div class="panel ">
		<% if notice != nil %>
			<div class= "alert alert-success">
				<p id="notice"><%= notice %></p>
			</div>
		<%end%>
		<div >
			<h1><%= @ngo.name %></h1>		
		</div>
		<div class="row panel-body detailopp">
			<div>
				<p> <span class="bold">Descrição: </span> 
				<br>
				<span class="leftspace"><%= @ngo.description %></span> 
				</p>
			</div>
			<div>
				<p><span class="bold">Local: </span><br>
				<!-- Criar o if privacy == true mostrar a mensagem que a ONG deixou os dados privados. -->
				<span class="leftspace"><%= @ngo.address.print_address unless @ngo.privacy == true %></span>
				</p>
			</div>
			<div>
				<p>
				<span class="bold">Telefone: </span><br>
				<% @ngo.phones.each do |phone| %>		
				<span class="leftspace"><%= phone.phone_number %></span>
				<% end %>	
				</p>
			</div>
			<div>
				<span class="bold">Causa:</span>
				<% @ngo.causes.each do |cause| %>		
				<span class="leftspace"><%= cause.name %></span>

				<% end %>	
			</div>
		</div>
	</div>
	<div class="ngo-opportunities">
		<div>
			<h3 class="">Lista De Oportunidades:</h3>
		</div>
		<% @ngo.opportunities.each do |opportunity| %>	
			<div class="panel">
				<div class="row panel-body detailopp">
					<div class="row">
						<div class="col-lg-12 opportunity-title">
							<h3><%= opportunity.title %></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 description">
							<%= opportunity.description %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<span><%= opportunity.address.city %>, 
								<%= opportunity.address.state %> </span>
						</div>
						<div class="col-lg-4">
							<%= opportunity.cause.name %>
						</div>
						<div class="col-lg-4">
					 		<%= link_to "Ver mais", opportunity, :class=>"link-style btn btn-primary outline pull-right" %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
