Recebemos a mensagem do(a) <%= "#{@type}" %> <%= "#{@name}" %>
</br>
<h3> Mensagem: </h3>
<%= "#{@message}" %>
<br><br>
Formas de contato: <br>
Email: <%= "#{@email}" %><br>
Telefone: <%= "#{@phone}" %>
