<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel">
   <div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <h4 class="modal-title text-center" id="changePasswordModalLabel">Mudar senha: </h4>
	    </div>
			<div>
		  <%= form_for(@user) do |f| %>
		  <div class="modal-body">
					<span> Senha atual: </span> <%= password_field_tag :current_password, params[:current_password], :class => "form-control"%><br>
					<span> Senha nova: </span> <%= f.password_field :password, :class => "form-control" %><br>
					<span> Confirmar senha: </span> <%= f.password_field :password_confirmation, :class => "form-control" %><br>
			</div>
	      <div class="modal-footer">
				<%= f.submit "Mudar minha senha", :class => "btn btn-primary" %>
				<% end %>
	      </div>
		</div>
	  </div>
	</div>
</div>
