<%= render 'edit_email_modal' %>
<%= render 'change_password_modal' %>
<%= render 'remove_account_modal' %>

<% if notice != nil %>
	<div class= "alert alert-success col-lg-offset-4 col-lg-4 centralize">
		<p id="notice"><%= notice %></p>
	</div>
<%end%>
<% if error != nil %>
	<div class= "alert alert-danger col-lg-offset-4 col-lg-4 centralize">
		<p id="error"><%= error %></p>
	</div>
<%end%>

<div class="row">
    <div class="col-lg-offset-4 col-lg-6 form-group">
      <h1> Configurações de Usuário: </h1>
    </div>
</div>

<div class="row">
	<div class="col-lg-offset-4 col-lg-4">
		<a href="" data-toggle="modal" data-target="#changeEmailModal">Mudar meu email</a>
	</div>
		<div class="col-lg-offset-4 col-lg-4">
      <a href="" data-toggle="modal" data-target="#changePasswordModal">Mudar minha senha</a>
    </div>
    <div class="col-lg-offset-4 col-lg-4">
      <a href="" data-toggle="modal" data-target="#removeModal" class="danger-text">Remover minha conta</a>
    </div>
</div>
