<%= render 'edit_email_modal' %>
<%= render 'change_password_modal' %>
<%= render 'remove_account_modal' %>
<%= render 'change_profile_modal' %>

<% if notice != nil %>
	<div class= "alert alert-success col-lg-offset-4 col-lg-4 centralize">
		<p id="notice"><%= notice %></p>
	</div>
<%end%>
<% if error != nil %>
	<div class= "alert alert-danger col-lg-offset-4 col-lg-4 centralize">
		<p id="error"><%= error %></p>
	</div>
<%end%>
<div class= "alert alert-danger col-lg-offset-4 col-lg-4 centralize errorMessageJS">
	<p id="errorMessage">Erro encontrado, verifique os campos em vermelho.</p>
</div>

<div class="panel panel-default col-lg-offset-1 col-lg-4">
	<div class="row panel-heading">
	    <div class="col-lg-12 form-group text-center">
	      <h3 class="config-title"> Configurações de Usuário </h3>
	    </div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12 edit-buttons text-center">
				<a href="" data-toggle="modal" class="btn btn-edit-user" data-target="#changePictureModal">Mudar minha foto</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 edit-buttons text-center">
				<a href="" data-toggle="modal" class="btn btn-edit-user" data-target="#changeEmailModal">Mudar meu email</a>
			</div>
		</div>
		<div class="row">
				<div class="col-lg-12 edit-buttons text-center">
		      <a href="" data-toggle="modal" class="btn btn-edit-user" data-target="#changePasswordModal">Mudar minha senha</a>
		    </div>
		</div>
		<div class="row">
		    <div class="col-lg-12 edit-buttons text-center">
		      <a href="" data-toggle="modal" class="btn btn-danger" data-target="#removeModal" class="danger-text">Remover minha conta</a>
		    </div>
		</div>
	</div>
</div>
