<div class="row">
    <div class="col-lg-offset-4 col-lg-4 form-group">
      <h1> Alterar Senha / Email </h1>
    </div>
</div>
<%= form_for @user do |f| %> <!-- Model Address-->
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <%= f.label "Email:", :for => "email-user", :class => "control-label" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 form-group">
      <%= f.text_field :email, :id => "email-user", :placeholder => 'exemplo@exemplo.com', :class => "form-control validate-email" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <%= f.label "Senha:", :for => "password-user", :class => "control-label" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 form-group">
      <%= f.password_field :password, :id => "password-user", :class => "form-control validate-password" %>
    </div>
    
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <%= f.label "Confirmar Senha:", :for => "password-confirmation-user", :class => "control-label" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 form-group">
      <%= f.password_field :password_confirmation, :id => "password-confirmation-user", :class => "form-control validate-password-confirmation-user" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <%= f.submit "Enviar", :class => "btn btn-default btn-lg btn-block btn-primary" %>
    </div>
  </div>
<% end %>