<div class="col-lg-4 col-lg-offset-4 pull-right">
	<% if notice != nil %>
	  <div class= "alert alert-success text-center centralize">
	    <p id="notice"><%= notice %></p>
	  </div>
	<%end%>
</div>
<header class="header-margin">
	<div class="header-content col-lg-8 col-lg-offset-2">
		<div class="text-center">
			<div class="text-index">
				<h1><strong>Nós aproximamos voluntários e organizações</strong></h1>
				<h4>Procure por oportunidades ou organizações de voluntariado perto de você</h4>
			</div>
		</div>
		<div class="bg-color-search radius">
			<div class="col-lg-12">
				<button id="btn-search-opportunity" class="btn button-search-enabled" value="Oportunidade">Oportunidades</button>
				<button id="btn-search-ngo" class="btn button-search-disabled" value="Organizações">Organizações</button>
				<%= render './layouts/search_bar.html' %>
			</div>
		</div>
	</div>
</header>
<section id="section1" class="section_margin">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="section-title">O que é?</h1>
			<h4>O <strong>Ongarium</strong> é uma plataforma online <strong>100% gratuita</strong> para sempre.</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5">
			<hr class="border_section_1">
		</div>
	</div>
	<div class="row">
			<div class="col-lg-offset-3 col-lg-3">
				<div class="row">
					<div class="col-lg-9">
						<div class="row">
							<p class="para pull-right">para</p>
						</div>
						<div class="row">
							<p class="vol_title pull-right">Voluntários</p>
						</div>
					</div>
					<div class="col-lg-3">
						<%= image_tag("11.png",:class => "pull-right",:id => "img_11", :alt => "Voluntario") %>
					</div>
				</div>
				<p class="text-center text-section1">Todas as descrições das pessoas são sobre a humanidade do atendimento, a pessoa pega no pulso, examina, olha com carinho</p>
				<ul class="list_section1 pull-right">
 					<li>de voluntario perto de</li>
 					<li>de voluntario perto de</li>
 					<li>de voluntario perto de</li>
					<li>de voluntario perto de</li>
					<li>de voluntario perto de</li>
					<li>de voluntario perto de</li>
				</ul>
				<%= active_link_to "Quero ser voluntario", '/volunteers/new', :class => "btn btn-volunteer radius pull-right" %>
			</div>

			<div class="col-lg-3">
				<div class="row">
					<div class="col-lg-5">
						<%= image_tag("12.png", :id => "img_12", :alt => "Ong") %>
					</div>
					<div class="col-lg-7">
						<div class="row">
							<p class="para">para</p>
						</div>
						<div class="row">
							<p class="ong_title">Organizações</p>
						</div>
					</div>
				</div>
				<p class="text-center text-section1">Todas as descrições das pessoas são sobre a humanidade do atendimento, a pessoa pega no pulso, examina, olha com carinho</p>
				<ul class="list_section1">
					<li>de voluntario perto de</li>
					<li>de voluntario perto de</li>
					<li>de voluntario perto de</li>
					<li>de voluntario perto de</li>
					<li>de voluntario perto de</li>
					<li>de voluntario perto de</li>
				</ul>
					<%= active_link_to "Quero ser organização", '/ngos/new', :class => "btn btn-ong radius" %>
			</div>
	</div>
</section>
<section id="section2" class="section_margin">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-1">
			<p class="text_section2">Voluntario ou organização, comece a mudar o mundo hoje mesmo!</p>
		</div>
		<div class="col-lg-2">
			<%= active_link_to "Cadastre-se gratuitamente", '', :class => "btn btn-section2 radius",data: {toggle: "modal", target: "#create-account-modal"}  %>
		</div>
	</div>
</section>
<section id="section3" class="section_margin">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="section-title">Como funciona?</h1>
			<h4>Estabelece o canal de comunicação entre <strong>voluntários</strong> e <strong>organizações</strong>.</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5">
			<hr class="border_section_1">
		</div>
	</div>
	<div class="row align_section3">
		<div class="col-lg-offset-1 col-lg-3">
			<div class="text-center">
				<%= image_tag("21.png", :class => "howitworks", :alt => "voluntario") %>
			</div>
			<p class="text-center title_section3">1. Sou voluntário e procuro por oportunidades de voluntariado</p>
			<p class="text-center text_section3">
				Se hoje é o dia das crianças... Ontem eu disse: o dia da criança é o dia da mãe, dos pais, das
				professoras, mas também é o dia dos animais, sempre que você olha...
			</p>
		</div>
		<div class="col-lg-3">
			<div class="text-center">
				<%= image_tag("22.png", :class => "howitworks", :alt => "comunicacao") %>
			</div>
			<p class="text-center title_section3">2. É feita a comunicação entre a organização e voluntário</p>
			<p class="text-center text_section3">
				Todas as descrições das pessoas são sobre a humanidade do atendimento, a pessoa pega no pulso,
				examina, olha com carinho.
			</p>
		</div>
		<div class="col-lg-3">
			<div class="text-center">
				<%= image_tag("23.png", :class => "howitworks", :alt => "acao") %>
			</div>
			<p class="text-center title_section3">3. A organização e o voluntário baile de favela qualquer coisa</p>
			<p class="text-center text_section3">
				Primeiro eu queria cumprimentas os internautas. -Oi internautas! Depois dizer que o meio ambiente é...
			</p>
		</div>
	</div>
</section>
