<div class="container min-height-page">
	<div class="volunteer-interests">
		<div class="row">
			<div class="col-lg-5 myinterests-title">
				<% if @volunteer.interests.empty? %>
					<h3>Você não possui interesses registrados</h3>
				<% else %>
					<h3>Meus Interesses:</h3>
				<% end %>
			</div>
			<div class="col-lg-7">
				<div id="paginatorTop" class="pull-right paginator">
					<%= paginate @volunteer_interests, :theme => 'twitter-bootstrap-3' %>
				</div>
			</div>
		</div>
		<% @volunteer_interests.each do |interest| %>
			<div class="panel">
				<div class="row panel-body detailopp bs-callout bs-callout-info">
					<div class="row">
						<div class="col-lg-10 interest-title">
							<h3><%= interest.opportunity.title %></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 oppt-ngo">
							<span>Por <%= interest.opportunity.ngo.name %></span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 description">
							<%= interest.opportunity.description %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<span><%= interest.opportunity.address.city unless interest.opportunity.blank? %>,
								<%= interest.opportunity.address.state unless interest.opportunity.blank? %> </span>
						</div>
						<div class="col-lg-4">
							<%= link_to "Ver mais", interest.opportunity, :class=>"link-style btn btn-primary pull-right" %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		<div class="row">
			<div class="col-lg-12">
				<div id="paginatorBottom" class="pull-right paginator">
					<%= paginate @volunteer_interests, :theme => 'twitter-bootstrap-3' %>
				</div>
			</div>
		</div>
	</div>
</div>
