<div class ="form-horizontal">
	<%= form_for(@interest ,:html=>{:onsubmit=>"return validateForm();"}) do |f| %>
		<% if @interest.errors.any? %>
			<div class="col-lg-3"> </div>
		    <div id="error_explanation" class="col-lg-5 alert alert-danger">
		      <ul>
		        <% @interest.errors.messages.each do |msg| %>
		          <li><%= msg[1][0] %></li>
		        <% end %>
		      </ul>
		    </div>
		    <div class="col-lg-12"> </div>
  		<% end %>
		<%=  f.hidden_field :opportunity_id, :value => params[:opportunity]%>
		<%= f.fields_for :volunteer do |form| %>
			<div class="form-group">
				<%= form.label "Nome:", :class => "col-lg-3 control-label" %>
				<div class="col-lg-5">
					<%= form.text_field :name, :class => "form-control"%>
				</div>
				<div id="nameError" class="col-lg-2 alert alert-danger custom-alert-danger">
					<p>Campo Obrigatório!</p>
				</div>
			</div>

			<div class="form-group">
				<%= form.label "Email:", :class => "col-lg-3 control-label" %>
				<div class="col-lg-5">
					<%= form.text_field :email, :placeholder => "exemplo@exemplo.com", :class => "form-control"%>
				</div>
				<div id="emailErrorInvalid" class="col-lg-2 alert alert-danger custom-alert-danger">
					<p>Email Inválido!</p>
				</div>
				<div id="emailErrorNil" class="col-lg-2 alert alert-danger custom-alert-danger">
					<p>Campo Obrigatório!</p>
				</div>
			</div>


			<div class="form-group">
				<%= form.label "Telefone:", :class => "col-lg-3 control-label" %>
				<div class="col-lg-5">
					<%= form.text_field :phone, :placeholder => "(99)9999-9999", :class => "form-control"%>
				</div>
				<div id="phoneErrorInvalid" class="col-lg-2 alert alert-danger custom-alert-danger">
					<p>Telefone Inválido!</p>
				</div>
				<div id="phoneErrorNil" class="col-lg-2 alert alert-danger custom-alert-danger">
					<p>Campo Obrigatório!</p>
				</div>
			</div>

			<div class="form-group">
				<%= form.label "Observações:", :class => "col-lg-3 control-label" %>
				<div class="col-lg-5">
					<%= form.text_area :observations, :class => "form-control"%>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-3 col-lg-5">
					<%= f.submit "Enviar", :class => "btn btn-default btn-lg btn-block" %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
