<div class="container">
	<div class="panel ">
		<div>
			<h1><%= current_user.volunteer.name %></h1>		
		</div>
		<div class="panel-body detailopp">
			<div class="formsession">
				<div class="row">
					<strong>Telefone(s): </strong>
					<%= current_user.volunteer.phone %>
					<%= current_user.volunteer.phone1 %>
					<%= current_user.volunteer.phone2 %>
				</div>	
			</div>
			<div class="formsession">
				<div class="row">
					<strong>Email: </strong>
					<%= current_user.email %>
				</div>
			</div>
			<div class="formsession">
				<div class="row">
					<strong>Observações: </strong> 
				</div>
				<div class="row">
					<span class="leftspace"><%= current_user.volunteer.observations %></span> 
				</div>
			</div>
		</div>
	</div>
	<%= form_for(@interest,:html => {:id => "form-interest"}) do |f| %>
		<div class="col-lg-3">
			<%=  f.hidden_field :opportunity_id, :value => params[:opportunity]%>
			<%= f.submit "Enviar", :class => "btn btn-default btn-lg btn-block btn-primary" %>
		</div>
	<%end%>


</div>



