<div class="container">
	<div class="panel">
		<div>
			<h1>
				<%= @interest.opportunity.title %>
			</h1>
		</div>
		<div class="panel-body">
			<div>
				<p> <span class="bold">Descrição: </span> 
				<br>
				<span class="leftspace"><%= @interest.opportunity.description %></span> 
				</p>
			</div>
			<div>
				<p> <span class="bold">Local: </span>  <br>
				<span class="leftspace"><%= @interest.opportunity.address.print_address %> 
				</p>
			</div>
			<% if @interest.opportunity.recurrent %>
				<div>
					<p> <span class="bold">Ocorre com frequência</span> </p>
				</div>
			<% else %>	
			<div>
				<p> <span class="bold">Data de Início: </span> <%= @interest.opportunity.start_date %> </p>
			</div>
			<div>
				<p> <span class="bold">Data de Término: </span> <%= @interest.opportunity.finish_date %></p>
			</div>
			<% end %>
			<div>
				<p> <span class="bold">Ong: </span><%= @interest.opportunity.ngo.name %></p>
			</div>
			<div>
				<p> <span class="bold">Causa: </span><%= @interest.opportunity.cause.name %></p>
			</div>
			<div>
				<p> <span class="bold">Vagas: </span><%= @interest.opportunity.vacancies %></p>
			</div>
			<div>
				<p> <span class="bold">Requisitos:</span> 
				<span class="leftspace">
				<ul>
					<% @interest.opportunity.skills.each do |skill|%>
						<li> <%= skill.name %> </li>
					<% end %>
				</ul>
				 </span>
				</p>
			</div>
			<div class="row">
					<a href="<%=@interest.id%>" class="btn btn-danger" title="Desmarcar interesse", data-method="delete">Desmarcar interesse</a>
			</div>	
		</div>
	</div>
</div>