<%= f.fields_for :address do |a| %>
	<div class="row col-lg-offset-1">
		<div class="form-group">
			<%= a.label "CEP: ",:class => "col-lg-1 control-label" %>
			<div class="col-lg-2 margin-end-bot">
				<%= a.text_field :zipcode, :id => "inputZipcode", :class => "form-control cep validate-zipcode" %>
			</div>
			<div class="col-lg-2 alert alert-danger custom-alert-danger empty-error-inputZipcode">
				<p>Campo Obrigatório!</p>
			</div>
			<div class="col-lg-2 alert alert-danger custom-alert-danger error-zipcode-invalid">
				<p>Cep Inválido!</p>
			</div>
		</div>		
	</div>
	<div class="row col-lg-offset-1">
		<div class="form-group">
			<%= a.label "Rua: ", :class => "col-lg-1 control-label" %>
			<div class="col-lg-4">
				<%= a.text_field :address, :id => "inputAddress", :class => "form-control" %>
			</div>
			<%= a.label "Complemento: ", :class => "col-lg-2 control-label" %>
			<div class="col-lg-3">
				<%= a.text_field :complement, :class => "form-control" %>
			</div>
		</div>
	</div>
	<div class="row col-lg-offset-1">
		<div class="form-group">
			<%= a.label "Bairro: ", :class => "col-lg-1 control-label" %>
			<div class="col-lg-3">
				<%= a.text_field :neighborhood, :id => "inputNeighborhood", :class => "form-control" %>
			</div>
			<%= a.label "Cidade: ", :class => "col-lg-1 control-label" %>
			<div class="col-lg-3">
				<%= a.text_field :city, :id => "inputCity", :class => "form-control", disabled: true %>
			</div>
			<div class="form-group">
				<%= a.label "Estado: ", :class => "col-lg-1 control-label" %>
				<div class="col-lg-1">
					<%= a.text_field :state, :id => "inputState", :class => "form-control", disabled: true %>
				</div>
			</div>
		</div>
	</div>
<% end %>