<div class="row ">
	<div class="col-lg-12">
		<h3>Filtros</h3>
		<hr>
		<div>
			<ul class="font-title margin list-group"> Causa: 
				<% @causes.each do |cause| %>
					<li class="margin list-group-item">
						<input type="checkbox" name="causes" id="<%=cause.id%>" value="<%=cause.id%>" class="cb_cause">
						<span class="font-cause" for="<%=cause.id%>"><%=cause.name%></span>
					</li>
				<%end%>
			</ul>
		</div>
		<hr>
		<div>
			<ul class="font-title margin"> Cidade:
				<% @cities.each do |city| %>
					<li class="margin">
						<input type="checkbox" name="cities" id="<%=city%>" value="<%=city%>" class="cb_city">
						<span class="font-cause" for="<%=city%>"><%=city%></span>
					</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>