<% if @opportunity.errors.any? %>
    <div id="error_explanation" class="col-lg-5 col-lg-offset-3 alert alert-danger">
      <ul>
        <% @opportunity.errors.messages.each do |msg| %>
          <li><%= msg[1][0] %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<div class="row">
	<div class="col-lg-offset-1 col-lg-8 form-group">
		<label class="control-label", for="title-opportunity">Título: <span class="mandatory">*</span></label>
		<%= f.text_field :title, :id => "title-opportunity", :class => "form-control validate-name col-lg-3" ,:placeholder => "Título da oportunidade" %>
	</div>

	<div class="col-lg-2 form-group">
		<%= f.label "Número de vagas:", :for => "vacancies-opportunity"%>
		<span class="mandatory">*</span>
		<%= f.number_field :vacancies, min:1, max:999, :id => "vacancies-opportunity", :class => "form-control validate-vacancies"%>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 form-group col-lg-10">
	<label class="control-label", for="description-opportunity">Descrição: <span class="mandatory">*</span></label>
		<%= f.text_area :description, :id => "description-opportunity", :class => "form-control validate-description", :rows => "3" %>
	</div>
</div>
<div class="row">
	<div class="col-lg-offset-1 form-group col-lg-10">
	<%= f.check_box :recurrent, :id => "recurrent" %>
	<%= f.label "Recorrente (Marque este campo se a oportunidade ocorrerá com frequência)", :class => "control-label", :for => "recurrent" %>
	</div>
</div>
<div class="row margin-end-top margin-end-bot">
	<div class="col-lg-offset-1 form-group">
		<div class="col-lg-4 div-date">
			<%= f.label "Início:", {:class => "control-label labelmarginright"}, :for => "start_date" %>
			<%= f.date_select :start_date, {start_year: Time.now.year, end_year: Time.now.year + 1 }, {:class => "cd_data", :id => "start_date"}%>
		</div>
		<div class="col-lg-4 div-date">
			<%= f.label "Término:", {:class => "control-label labelmarginright"}, :for => "finish_date" %>
			<%= f.date_select :finish_date, {start_year: Time.now.year, end_year: Time.now.year + 2}, {:class => "cd_data", :id =>"finish_date"}%>
		</div>

		<div id="dateError" class="col-lg-2 alert alert-danger custom-alert-danger error-date-opportunities">
			<p>Data de Término precisa ser maior que a data de inicio!</p>
		</div>
	</div>
</div>
<div class="row margin-end-top br">
	<div class="col-lg-offset-1 form-group">
		<div class="col-lg-4">
			<%= f.label "Causas da oportunidade:", :class => "control-label" %>
		</div>
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 margin-dropdown-lists">
				<%= collection_check_boxes(:opportunity, :cause_ids, @causes, :id, :name) do |b| %>
					<div class="col-lg-4 margin-checkbox-lists">
  						<%= b.label(:"data-value" => b.value) { b.check_box(:class => "category-checkbox") + " " + b.text } %>
  					</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
<div class="row margin-end-top br">
	<div class="col-lg-offset-1 form-group ">
		<div class="col-lg-4">
			<%= f.label "Habilidades:", :class => "control-label" %>
		</div>
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 margin-dropdown-lists">
				<%= collection_check_boxes(:opportunity, :skill_ids, @skill, :id, :name) do |b| %>
					<div class="col-lg-4 margin-checkbox-lists">
  						<%= b.label(:"data-value" => b.value) { b.check_box + " " + b.text } %>
  					</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-offset-1 form-group col-lg-10">
	<label class="control-label", for="requirements-opportunity">Requisitos:</label>
		<%= f.text_area :requirements, :id => "requirements-opportunity", :class => "form-control", :rows => "3" %>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 text-center margin-end-bot margin-end-top">
		<h3>Endereço da oportunidade</h3>
	</div>
</div>
<div id="address">
	<%= render './addresses/address_form', f:f %>
</div>
<div class="row">
    <div class="col-lg-offset-2 col-lg-4 form-group">
    	<span class="mandatory">*Campos Obrigatórios</span>
	</div>
</div>
<%= f.hidden_field :ngo_id, :value => current_user.ngo.id %>
