<% if @opportunities_result.empty? %>
	<div class="panel panel-default">
		<div class="row panel-body">
			<h3><%= "Sua pesquisa não encontrou resultados" %></h3>
		</div>
	</div>
<% end %>
<% @opportunities_result.each do |opportunity| %>
	<div class="panel">
		<div class="row panel-body bs-callout bs-callout-info opportunity-background">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="opportunity-title"><%= opportunity.title %></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<span class="oppt-ngo">Por <%= opportunity.ngo.name %></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="description"><%= opportunity.description %></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<span><%= opportunity.address.city %>, <%= opportunity.address.state %></span>
				</div>
				<div class="col-lg-4">
					<span class="card-cause"><%= opportunity.cause.name %></span>
				</div>
				<div class="col-lg-4">
			 		<%= link_to "Ver mais", opportunity, :class=>"btn btn-primary pull-right" %>
				</div>
			</div>
		</div>
	</div>
<% end %>