<%= render 'search_bar' %>
<div class="container"> 

	<div class="row ">
			<div class="col-lg-4">
		
			</div>
			<div class="col-lg-4">
				<% @opportunity_search.each do |opportunity| %>
					<div class="row opportunity">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-12">
									<%= link_to "#{opportunity.title}", opportunity %>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<span>Por: <%= opportunity.ngo.name %></span>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<%= opportunity.description %>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3">
								<span><%= opportunity.address.city %>, 
								<%= opportunity.address.state %> </span>
							</div>
								<div class="col-lg-3">
									<%= opportunity.cause.name %>
								</div>
							<div class="col-lg-3">
									<%opportunity.skills.to_a.each do |skill| %>
										<%= skill.name %>
									<%end%>
							</div>
							<div class="col-lg-3">
								<button type="button" class="btn btn-default">Candidatar-se</button>
							</div>
						</div>
		 			</div>
				<%end%>
		    </div>
		    <div class="col-lg-4">
		    </div>
		</div>
</div>