<div class ="container-fluid">
	<div class ="row">
		<%= form_tag do %>
			<%= label_tag(:q, "Nome:") %>
			<%= text_field_tag(:q) %>
			<%= submit_tag "Candidatar-se", :class => "btn btn-default btn-lg btn-block" %>	
		<% end %>
	</div>
</div>



<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  
  
<% end %>