<div class="container">
<section class="min-margin-top">
	<div class="ngo-interests">
    <div class="row">
  		<div class="text-center">
  				<h2>Minhas Oportunidades</h2>
  		</div>
		</div>
		<div class="row">
			<div class="pull-left">
				<%= link_to "Cadastrar Oportunidades", new_opportunity_url, :class=>"link-style btn btn-primary new_opportunity" %>
			</div>
			<div class="pull-right">
          <%= paginate @ngos_opportunities, :theme => 'twitter-bootstrap-3'%>
      </div>
    </div>


		<% @ngos_opportunities.each do |opportunity| %>
			<div class="panel">
				<div class="row panel-body detailopp bs-callout bs-callout-info">
					<div class="row">
						<div class="col-lg-10 interest-title">
							<h3><%= opportunity.title %></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 oppt-ngo">
							<span>Por <%= opportunity.ngo.name %></span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 description">
							<%= opportunity.description %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">

							<% if opportunity.address.blank? %>
								<span class="leftspace"> A combinar</span>
							<%else%>
								<span class="leftspace"><%= opportunity.address.print_address%></span>
							<% end %>
						</div>
						<div class="col-lg-12">
							<%= link_to "Ver mais", opportunity, :class=>"link-style btn btn-primary pull-right" %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
    <div class="row">
      <div class="col-lg-12 pull-right">
        <div id="paginatorBottom" class="pull-right paginator">
          <%= paginate @ngos_opportunities, :theme => 'twitter-bootstrap-3' %>
        </div>
      </div>
    </div>
	</div>
</div>
</section>
