<!--
OBS: 
Após o sistema de login ser implementado, ajustar a pagina de cadastro das oportunidades
para buscar automaticamente o id da ong e o seu país cadastrado
-->
<div class ="form-horizontal">
	<%= form_for(@opportunity) do |f| %>
		<% if @opportunity.errors.any? %>
		    <div id="error_explanation">
		      <h2>
		        <%= pluralize(@opportunity.errors.count, "error") %> prohibited
		        this opportunity from being saved:
		      </h2>
		      <ul>
		        <% @opportunity.errors.full_messages.each do |msg| %>
		          <li><%= msg %></li>
		        <% end %>
		      </ul>
		    </div>
  		<% end %> 	
  		<%= form_for(@opportunity) do |f| %>
			<div class="form-group">
				<%= f.label "Nome da oportunidade:", :class => "col-lg-3 control-label" %>
				<div class="col-lg-7">
					<%= f.text_field :title, :class => "form-control" %>
				</div>
			</div>
			<div id="address">
			<%= render 'address_form', f:f %>
			</div>
			<div class="form-group">
				<%= f.label "Início:", :class => "col-lg-3 control-label" %>
				<div class="col-lg-3 margin-dropdown-lists">
					<%= f.date_select :start_date, start_year: Time.now.year, end_year: Time.now.year + 1, :class => "form-control" %>
				</div>
				<%= f.label "Término:", :class => "col-lg-2 control-label" %>
				<div class="col-lg-3 margin-dropdown-lists">
					<%= f.date_select :finish_date, start_year: Time.now.year, end_year: Time.now.year + 2, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label "Descrição:", :class => "col-lg-3 control-label" %>
				<div class="col-lg-7">
					<%= f.text_area :description, :class => "form-control", :rows => "3" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label "Causa:", :class => "col-lg-3 control-label" %>
				<div class="col-lg-2 margin-dropdown-lists">
					<%= collection_select :opportunity, :cause_id, Cause.all, :id, :name, {:class => "btn btn-default dropdown-toggle"} %>
				</div>
			</div>
			 <div class="form-group">
				<%= f.label "Requisitos:", :class => "col-lg-3 control-label" %>
				<div class="col-sm-6">
					<div class="col-md-9 margin-dropdown-lists">
						<%= collection_check_boxes(:opportunity, :skill_ids, Skill.all, :id, :name)  do |b| %>
						<div class="col-md-6 margin-checkbox-lists">
	  						<%= b.label(:"data-value" => b.value) { b.check_box + " " + b.text } %>
	  						</div>
						<%end%>
					</div>
				</div>
			</div>
			<div class="form-group">
				<%= f.label "Quantidade de vagas:", :class => "col-lg-3 control-label" %>
				<div class="col-lg-1">
					<%= f.number_field :vacancies, min:1, :class => "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-3 col-lg-7">
					<%= f.submit "Criar oportunidade", :class => "btn btn-default btn-lg btn-block btn-primary" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label "Ong[**sistema de login**]:", :class => "col-lg-3 control-label" %>
				<div class="col-lg-1">
					<%= f.text_field :ngo_id, :class => "form-control " %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>