<div class="container">
	<div>
		<h1> <%= @Opportunity.title %> </h1>
				
	</div>

	<div>
		<p> Descrição: <%= @Opportunity.description %> </p>
	</div>

	<div>
		<p> Local: <%= @Opportunity.address.print_address %> </p>
	</div>

	<div>
		<p> Data de Início: <%= @Opportunity.start_date %></p>
	</div>

	<div>
		<p> Data de Término: <%= @Opportunity.finish_date %></p>
	</div>

	<div>
		<p> Ong: <%= @Opportunity.ngo.name %></p>
	</div>

	<div>
		<p> Causa: <%= @Opportunity.cause.name %></p>
	</div>

	<div>
		<p> Vagas: <%= @Opportunity.vacancies %></p>
	</div>

	<div>
		<p> Requisitos: </p>
	</div>
</div>

