<div class="row ">
	<div class="col-lg-12">
		<div>
			<ul> <span class="font-title margin"> Causas: </span>
				<% @causes.each do |cause| %>
					<li class="margin">
						<input type="checkbox" name="causes" id="<%=cause.id%>" value="<%=cause.id%>" class="cb_cause checkboxes">
						<label class="font-cause" for="<%=cause.id%>"><%=cause.name%></label>
					</li>
				<%end%>
			</ul>
		</div>
		<hr>
		<div>
			<ul> <span class="font-title margin"> Cidades: </span>
				<% @cities.each do |city| %>
					<li class="margin">
						<input type="checkbox" name="cities" id="<%=city%>" value="<%=city%>" class="cb_city checkboxes">
						<label class="font-cause" for="<%=city%>"><%=city%></label>
					</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>
