<div class="row ">
	<div class="col-lg-12 margin-top">
		<div>
			<ul class="list-group">
				<div class="row filter-title">
					<span class="font-title margin"> Causas: </span>
				</div>
				<div class="row">
					<% @causes.each do |cause| %>
						<li class=" list-group-item">
							<input type="checkbox" name="causes" id="<%=cause.id%>" value="<%=cause.id%>" class="cb_cause checkboxes">
							<label class="font-cause" for="<%=cause.id%>"><%=cause.name%></label>
						</li>
					<%end%>
				</div>
			</ul>
		</div>
		<hr>
		<div>
			<ul class="list-group">
				<div class="row filter-title">
					<span class="font-title margin"> Cidades: </span>
				</div>
				<div class="row">
					<% @cities.each do |city| %>
						<li class="list-group-item">
							<input type="checkbox" name="cities" id="<%=city%>" value="<%=city%>" class="cb_city checkboxes">
							<label class="font-cause" for="<%=city%>"><%=city%></label>
						</li>
					<%end%>
				</div>
			</ul>
		</div>
	</div>
</div>
