<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Ongarium", root_url, :class=>"navbar-brand"%>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="margin-left-200px">
           <%= active_link_to "Oportunidades", opportunities_url, :wrap_tag => :li%>
        </li>
        <li> <%= active_link_to "ONGs", ngos_url, :wrap_tag => :li%>
        </li>
        <li><a href="#">Sobre Nós</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li>          
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.ngo.name %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
              <% if current_user.ngo? %>
              <%= link_to "Meu Perfil", @ngo%>
              <%= link_to "Cadastrar Oportunidades", new_opportunity_path%>
              <%= link_to "Ver minhas Oportunidades", '/myopportunities'%>
               <li role="separator" class="divider"></li>
              <%end%>
              </li>
              <li><%= link_to "Sair", logout_path, method: "delete"%></li>
            </ul>
        </li>
        <% else %>
         <li><%= active_link_to "Login", login_path, :wrap_tag => :li%></li>
          <li>          
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastre-se<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "ONG", new_ngo_path%></li>
              <li><%= link_to "Voluntário", new_volunteer_path%></li>
            </ul>
        </li>
        <% end %>
        </ul>
    </div>
  </div>
</nav>