<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Ongarium", root_url, :class=>"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu-collapse">
      <ul class="nav navbar-nav">
        <%= active_link_to "Oportunidades", opportunities_url, :wrap_tag => :li %>
        <%= active_link_to "ONGs", ngos_url, :wrap_tag => :li %>
        <li><a href="#">Sobre Nós</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <% if current_user.ngo? %>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if current_user.ngo.name.length > 19 %>
                  <%= current_user.ngo.name.first(20)+'...' %>
                <% else %>
                  <%= current_user.ngo.name.first(20)%>
                <%end%>
                <span class="caret"></span>
              </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Meu Perfil", current_user.ngo %>
                    <%= link_to "Cadastrar Oportunidades", new_opportunity_path%>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href= "/ngos/<%=current_user.ngo.id%>/edit" class="link-style" title="EditarPerfil">
                      Editar minhas informações
                    </a>
                    <a href= "/users/<%=current_user.id%>/edit" class="link-style" title="EditarConfigs">
                      Configurações de usuário
                    </a>
                     <li role="separator" class="divider"></li>
                  </li>
                   <li><%= link_to "Sair", logout_path, method: "delete"%></li>
                </ul>
            </li>
        </ul>
          <% else %>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.volunteer.name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Meu Perfil", current_user.volunteer%>
                    <%= link_to "Minhas Candidaturas", '/myinterests'%>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href= "/volunteers/<%=current_user.volunteer.id%>/edit" class="link-style" title="EditarPerfil">
                      Editar meu perfil
                    </a>
                    <a href= "/users/<%=current_user.id%>/edit" class="link-style" title="Editar">
                      Configurações de usuário
                    </a>
                    <li role="separator" class="divider"></li>
                  </li>
                 <li><%= link_to "Sair", logout_path, method: "delete"%></li>
                </ul>
            </li>
          <% end %>
        <% else %>
          <%= active_link_to "Entrar", login_path, :wrap_tag => :li %>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Cadastre-se <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "ONG", new_ngo_path %></li>
              <li><%= link_to "Voluntário", new_volunteer_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
