<!DOCTYPE html>
<html>
  <head>
    <title>OngariumRails</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
    <% if current_page?(root_path) %>
        <%= render 'layouts/home_header' %>
    <% else %>
        <%= render 'layouts/header' %>
    <% end %>
    </header>
    <section class="min-height-pages">
      <%= yield %>
    </section>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
