<!DOCTYPE html>
<html>
  <head>
    <title>OngariumRails</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <section>
      <div class="col-lg-offset-4 col-lg-4">
        <% if notice != nil %>
          <div class= "alert alert-success centralize">
            <p id="notice"><%= notice %></p>
          </div>
        <%end%>
      </div>
      <%= yield %>
    </section>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>